@import url("./mypage/_layout.css");
@import url("./mypage/_profile.css");
@import url("./mypage/_tabs.css");
@import url("./mypage/_list-base.css");
@import url("./mypage/_review-list.css");
@import url("./mypage/_badges.css");
@import url("./mypage/_modals-base.css");
@import url("./mypage/_modal-cards.css");
@import url("./mypage/_detail-hero.css");
@import url("./mypage/_detail-kv.css");
@import url("./mypage/_review-detail.css");
@import url("./mypage/_review-edit-modal.css");
@import url("./mypage/_review-create-modal.css");
@import url("./mypage/_applied-completed.css");
@import url("./mypage/_responsive.css");
@import url("./mypage/_qna.css");
@import url("./mypage/_qnaEditModal.css");
@import url("./mypage/_sort-bar.css");

.mypage-stars .star {
  color: rgba(45, 45, 58, 0.18);
}

.mypage-stars .star.on {
  color: #fbbf24;
}
