@import url("./mypage/layout.css");
@import url("./mypage/profile.css");
@import url("./mypage/tabs.css");
@import url("./mypage/list-base.css");
@import url("./mypage/review-list.css");
@import url("./mypage/badges.css");
@import url("./mypage/modals-base.css");
@import url("./mypage/modal-cards.css");
@import url("./mypage/detail-hero.css");
@import url("./mypage/detail-kv.css");
@import url("./mypage/review-detail.css");
@import url("./mypage/review-edit-modal.css");
@import url("./mypage/review-create-modal.css");
@import url("./mypage/applied-completed.css");
@import url("./mypage/responsive.css");
@import url("./mypage/qna.css");
@import url("./mypage/qnaEditModal.css");
@import url("./mypage/sort-bar.css");

.mypage-stars .star {
  color: rgba(45, 45, 58, 0.18);
}

.mypage-stars .star.on {
  color: #fbbf24;
}
